<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsk.platform.game.dao.GameMapper">

    <delete id="deleteByPrimaryKey" statementType="PREPARED" parameterType="long">
        delete from platform_game where id = #{id}
    </delete>

    <!-- 批量删除-->
    <delete id="deleteByPrimaryKeyBatch" parameterType="list" >
        delete from platform_game where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="Game">
        insert into platform_game
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">name,</if>
            <if test="icon != null">icon,</if>
            <if test="description != null">description,</if>
            <if test="merchantId != null">merchant_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="star != null">star,</if>
            <if test="label1 != null">label1,</if>
            <if test="label2 != null">label2,</if>
            <if test="label3 != null">label3,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="name != null">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="description != null">#{description},</if>
            <if test="merchantId != null">#{merchantId},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">#{status},</if>
            <if test="star != null">#{star},</if>
            <if test="label1 != null">#{label1},</if>
            <if test="label2 != null">#{label2},</if>
            <if test="label3 != null">#{label3},</if>
        </trim>
    </insert>

    <insert id="insertBatch"  parameterType="list">
        insert into platform_game
        (id, name, icon, description, merchant_id, create_time, status, star, label1, label2, label3)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT},
            #{item.name},
            #{item.icon},
            #{item.description},
            #{item.merchantId},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.status},
            #{item.star},
            #{item.label1},
            #{item.label2},
            #{item.label3})
        </foreach>
    </insert>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
        select  <include refid="Query_Base_Columns"/>
        from platform_game
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKeys">
        select  <include refid="Query_Base_Columns"/>
        from platform_game
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateByPrimaryKey" statementType="PREPARED" parameterType="Game">
        update platform_game
        <set>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="icon != null" >
                icon = #{icon},
            </if>
            <if test="description != null" >
                description = #{description},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="star != null" >
                star = #{star},
            </if>
            <if test="label1 != null" >
                label1 = #{label1},
            </if>
            <if test="label2 != null" >
                label2 = #{label2},
            </if>
            <if test="label3 != null" >
                label3 = #{label3},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateBatchByPrimaryKey" statementType="PREPARED" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update platform_game
            <set>
                <if test="name != null" >
                    name = #{name},
                </if>
                <if test="icon != null" >
                    icon = #{icon},
                </if>
                <if test="description != null" >
                    description = #{description},
                </if>
                <if test="merchantId != null" >
                    merchant_id = #{merchantId},
                </if>
                <if test="createTime != null" >
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null" >
                    status = #{status},
                </if>
                <if test="star != null" >
                    star = #{star},
                </if>
                <if test="label1 != null" >
                    label1 = #{label1},
                </if>
                <if test="label2 != null" >
                    label2 = #{label2},
                </if>
                <if test="label3 != null" >
                    label3 = #{label3},
                </if>
            </set>
            where id = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="queryByParamMap" statementType="PREPARED" resultMap="BaseResultMap">
        select <include refid="Query_Base_Columns"/>
        from platform_game
        <include refid="sql_of_where"/>
        <include refid="CommonMapper.orderByAndSplitPage"/>
    </select>

    <select id="countByParamMap" statementType="PREPARED">
        select count(id) from platform_game
        <include refid="sql_of_where"/>
    </select>

    <sql id="Query_Base_Columns">
        platform_game.id           platform_game_id,
        platform_game.name         platform_game_name,
        platform_game.icon         platform_game_icon,
        platform_game.description  platform_game_description,
        platform_game.merchant_id  platform_game_merchant_id,
        platform_game.create_time  platform_game_create_time,
        platform_game.status       platform_game_status,
        platform_game.star         platform_game_star,
        platform_game.label1       platform_game_label1,
        platform_game.label2       platform_game_label2,
        platform_game.label3       platform_game_label3
    </sql>

    <sql id="sql_of_where">
        <where>
            <if test="name != null" >and name like '%${name}%'</if>
            <if test="description != null" >and description like '%${description}%'</if>
            <if test="merchantId != null" >and merchantId = #{merchantId}</if>
            <if test="createTimeBegin != null" >and create_time &gt;= #{createTimeBegin,jdbcType=TIMESTAMP}</if>
            <if test="createTimeEnd != null" >and create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}</if>
            <if test="status != null" >and status = #{status}</if>
            <if test="star != null" >and star = #{star}</if>
            <if test="label1 != null" >and label1 = #{label1}</if>
            <if test="label2 != null" >and label2 = #{label2}</if>
            <if test="label3 != null" >and label3 = #{label3}</if>
        </where>
    </sql>

    <resultMap id="BaseResultMap" type="Game">
        <id column="platform_game_id" property="id"/>
        <result column="platform_game_name" property="name"/>
        <result column="platform_game_icon" property="icon"/>
        <result column="platform_game_description" property="description"/>
        <result column="platform_game_merchant_id" property="merchantId"/>
        <result column="platform_game_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="platform_game_status" property="status"/>
        <result column="platform_game_star" property="star"/>
        <result column="platform_game_label1" property="label1"/>
        <result column="platform_game_label2"  property="label2"/>
        <result column="platform_game_label3"  property="label3"/>
    </resultMap>
</mapper>